* {
    font-family: var(--body);
 
    box-sizing: border-box;
  }

  .navbar-brand{
    font-size: 2rem;
  }

  .navbar-nav{
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .nav-link{
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }


  